html
  head
    title navs
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 navs

  :coffeescript
    console.log 'Testing navs'
